{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" id="symbol">
            <option disabled selected>Symbol</option>
            {% for symbol in symbols %}
                <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <input type="number" name="shares" placeholder="Shares" type="number" autocomplete="off" min="0">
        </div>
        <button type="submit">Sell</button>
    </form>
{% endblock %}
